flow.json
[
    {
        "id": "a74b354b0e066019",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b7f7acec6764ff4",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1635e8e8711f464f",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "176a5c02fe622c64",
        "type": "inject",
        "z": "a74b354b0e066019",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "30e09625f5161795"
            ]
        ]
    },
    {
        "id": "30e09625f5161795",
        "type": "debug",
        "z": "a74b354b0e066019",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 200,
        "wires": []
    },
    {
        "id": "f2f7b09948cf7b10",
        "type": "link in",
        "z": "3b7f7acec6764ff4",
        "name": "",
        "links": [],
        "x": 195,
        "y": 200,
        "wires": [
            [
                "b7df0f66f3115992"
            ]
        ]
    },
    {
        "id": "b7df0f66f3115992",
        "type": "debug",
        "z": "3b7f7acec6764ff4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "f6902b0289022995",
        "type": "link in",
        "z": "1635e8e8711f464f",
        "name": "",
        "links": [],
        "x": 415,
        "y": 240,
        "wires": [
            [
                "3cf4b254db7a415f"
            ]
        ]
    },
    {
        "id": "3cf4b254db7a415f",
        "type": "debug",
        "z": "1635e8e8711f464f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 180,
        "wires": []
    }
]