flow.json
[
    {
        "id": "a74b354b0e066019",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b7f7acec6764ff4",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1635e8e8711f464f",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "39e044ece65a139a",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "176a5c02fe622c64",
        "type": "inject",
        "z": "a74b354b0e066019",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "30e09625f5161795"
            ]
        ]
    },
    {
        "id": "30e09625f5161795",
        "type": "debug",
        "z": "a74b354b0e066019",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 200,
        "wires": []
    },
    {
        "id": "f2f7b09948cf7b10",
        "type": "link in",
        "z": "3b7f7acec6764ff4",
        "name": "",
        "links": [],
        "x": 195,
        "y": 200,
        "wires": [
            [
                "dbd10b90dfe21f86"
            ]
        ]
    },
    {
        "id": "665325c34bc67bb3",
        "type": "link out",
        "z": "3b7f7acec6764ff4",
        "name": "",
        "mode": "link",
        "links": [],
        "x": 485,
        "y": 200,
        "wires": []
    },
    {
        "id": "dbd10b90dfe21f86",
        "type": "function",
        "z": "3b7f7acec6764ff4",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 200,
        "wires": [
            [
                "665325c34bc67bb3"
            ]
        ]
    },
    {
        "id": "f6902b0289022995",
        "type": "link in",
        "z": "1635e8e8711f464f",
        "name": "",
        "links": [],
        "x": 415,
        "y": 240,
        "wires": [
            [
                "3cf4b254db7a415f",
                "0e4e2ce95839b388"
            ]
        ]
    },
    {
        "id": "3cf4b254db7a415f",
        "type": "debug",
        "z": "1635e8e8711f464f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "0e4e2ce95839b388",
        "type": "debug",
        "z": "1635e8e8711f464f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "8de9f5bc8d467a32",
        "type": "link in",
        "z": "39e044ece65a139a",
        "name": "",
        "links": [],
        "x": 185,
        "y": 240,
        "wires": [
            [
                "2520aa527920c825"
            ]
        ]
    },
    {
        "id": "8c03bc0d1fb9a8da",
        "type": "link out",
        "z": "39e044ece65a139a",
        "name": "",
        "mode": "link",
        "links": [],
        "x": 445,
        "y": 240,
        "wires": []
    },
    {
        "id": "2520aa527920c825",
        "type": "function",
        "z": "39e044ece65a139a",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 240,
        "wires": [
            [
                "8c03bc0d1fb9a8da"
            ]
        ]
    }
]